.score {
    display: flex;
    justify-content: space-between;
}

.score-font {
    font-size: 3rem;
}

.toggle-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .score-font {
        font-size: 1.5rem;
    }
  }