.winner {
    background-color: green;
    text-align: center;
    width: 50%;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -5rem;
    border-radius: 15px 20px 20px 15px;
    min-width: 300px;
  }

.winner-text {
    margin: auto;
}

  .retry-button {
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    .winner {
        margin-top: -8rem;
        margin-left: -150px;

    }
  }